<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>

        <!-- Use the iisnode module to handle requests for Node.js apps -->
        <handlers>
            <add name="iisnode" path="index.js" verb="*" modules="iisnode"/>
        </handlers>

        <rewrite>
            <rules>
                <!-- Do not interfere with requests for node-inspector debugging -->
                <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^index.js\/debug[\/]?" />
                    <action type="None" />
                </rule>

                <!-- First we consider whether the incoming URL matches a physical file in the /public folder -->
                <rule name="StaticContent">
                    <action type="Rewrite" url="public{REQUEST_URI}"/>
                </rule>

                <!-- All other URLs are passed to Node.js -->
                <rule name="DynamicContent">
                    <conditions>
                        <add input="{{REQUEST_FILENAME}}" matchType="IsFile" negate="True"/>
                        <add input="{{REQUEST_FILENAME}}" matchType="IsDirectory" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="index.js"/>
                </rule>
            </rules>
        </rewrite>

        <!-- Security settings for the application -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="node_modules"/>
                </hiddenSegments>
            </requestFiltering>
        </security>

        <!-- Logging settings for the application -->
        <iisnode 
            watchedFiles="web.config;*.js" 
            loggingEnabled="true" 
            logDirectory="iisnode" 
            debuggingEnabled="true" 
        />

    </system.webServer>
</configuration>
