<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>

        <!-- Indicates that the server.js (or your entry point file) is a node.js application 
             to be handled by the iisnode module -->
        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
        </handlers>

        <!-- Use URL Rewrite to redirect all traffic to the node.js application -->
        <rewrite>
            <rules>
                <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^server.js\/debug[\/]?" />
                    <action type="None" />
                </rule>

                <rule name="DynamicContent">
                    <conditions>
                        <add input="{{REQUEST_FILENAME}}" matchType="IsFile" negate="True"/>
                    </conditions>
                    <action type="Rewrite" url="server.js"/>
                </rule>
            </rules>
        </rewrite>

        <!-- security settings for your application -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="node_modules"/>
                </hiddenSegments>
            </requestFiltering>
        </security>

        <!-- logs node.js stdout and stderr to the filesystem -->
        <iisnode watchedFiles="web.config;*.js"/>

    </system.webServer>
</configuration>
